<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        .navbar-brand img {
            max-height: 50px;
        }
        
        .navbar-brand,
        .navbar-nav .nav-link {
            color: white;
            font-weight: bold;
            font-size: 24px;
        }
        
        .navbar-dark .navbar-toggler-icon {
            filter: invert(1);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mx-auto">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="https://www.abdn.ac.uk/global/images/layout/UoA_Primary_Logo_RGB_2018.svg?v=1537886890" alt="Logo" class="me-2" height="40">
                <span class="flex-grow-1">Staff Management</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">User information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                User Analysis
            </div>
            <div class="card-body">
                <p class="card-text">{{detail_row}}</p>
                <a href="/" class="btn btn-primary">Return</a>
            </div>
        </div>
    </div>

</body>

</html>